.App {
  text-align: center;
}

.App-header {
  background-color: #e9f3fe;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.image-upload-container {
  width: 55%;
  min-height: 40vh;
  height: fit-content;
  border-radius: 28px;
  background: #ffffff;
  box-shadow: -6px 6px 14px #bebebe, 6px -6px 14px #ffffff;
  padding: 1.2em;
}

.container-border {
  border-radius: 28px;
  border-style: dotted;
  border-color: #d2e4f7;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-btn {
  background-color: #8e718a;
  padding: 0.5em;
  color: #ffffff;
  border-radius: 10px;
  width: 5.5rem;
  border: none;
  cursor: pointer;
}
.action-btn:active {
  background-color: #7c5266;
}

.result-container {
  width: 85%;
  height: 80vh;
  border-radius: 28px;
  background: #ffffff;
  box-shadow: -6px 6px 14px #bebebe, 6px -6px 14px #ffffff;
  padding: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result {
  width: 30%;
  height: 100%;
  /* background-color: red; */
}

.result h3 {
  color: #161616;
}

.result img {
  width: 100%;
}
